body {
	margin-top: 40px;
	font-family: Arial, Helvetica, Sans-Serif;
	margin: 0px 1px 0px 1px;
	padding-top: 20px;
}

.menu__icon {
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 3px 85%;
}

.nav-bar {
	position: fixed;
	top: 0px;
	background: blue;
	width: 100%;
}

.nav-bar__label {
	color: white;
	display: block;
	padding: 5px 0px;
	text-align: center;
	text-transform: uppercase;
	width: inherit;
}

/*
.nav-bar__label::after,
.nav-bar__sub-label::after {
}
*/
.nav-bar__label, .nav-bar__sub-label {
	cursor: pointer;
}

.nav-bar__list {
	background: blue;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-bar__list, [id^="toggle"] {
	display: none;
}

[id^="toggle"]:checked+.nav-bar__list {
	display: block;
}

.nav-bar__bttn-item {
	display: block;
	color: black;
	background: lightblue;
}

.nav-bar__list-item {
	display: block;
}

.nav-bar__link, .nav-bar__sub-label {
	color: white;
	display: block;
	padding: 5px 5px;
	text-decoration: none;
	word-wrap: break-word;
}

.nav-bar__list-item .nav-bar__list-item .nav-bar__link,
	.nav-bar__list-item .nav-bar__list-item .nav-bar__sub-label {
	padding: 10px 10px 10px 30px;
}

.nav-bar__link:hover, .nav-bar__link:active, .nav-bar__sub-label:hover {
	background: #666;
}

@media all and (min-width : 324px) {
	.nav-bar>.nav-bar__label {
		display: none;
	}
	.nav-bar>.nav-bar__list {
		display: block;
	}
	.nav-bar>.nav-bar__list>.nav-bar__list-item {
		display: inline-block;
		position: relative;
	}
	.nav-bar__list-item .nav-bar__list {
		position: absolute;
	}
	.nav-bar__list-item .nav-bar__list-item .nav-bar__link,
		.nav-bar__list-item .nav-bar__list-item .nav-bar__sub-label {
		padding: 10px 20px;
	}
}
