.item_quantity {
	height: 20px;
	width: 60px;
	background: lightcyan;
}

.enter_select, .enter_input_text {
	border: 1px solid blue;
	border-radius: 4px;
	margin: 2px;
	padding: 0px;
	height: 30px;
	width: 240px;
}

.enter_input_number {
	border: 1px solid blue;
	border-radius: 4px;
	margin: 2px;
	height: 30px;
	width: 240px;
	background: lightcyan;
}

.bttn {
	border: 1px solid blue;
	margin: 2px;
	height: 30px;
	width: 240px;
	font-size: 20px;
	border-radius: 16px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-item {
	text-align: left;
	border: 2px solid blue;
	margin: 1px;
	border-radius: 6px;
	background: lightcyan;
}

table, tr, th, td {
	border: 1px solid blue;
}

.table_error, .table_error tr, .table_error td {
	border: 10px solid red;
}

.section_separator {
	border: 2px;
	border-style: solid;
	border-color: blue;
	border-radius: 6px;
	text-align: center;
	margin: 2px 0px 2px 0px;
	background-color: lightgrey;
}
