#logo {
    width: 60px;
    height: 25px;
    vertical-align: middle;
}

body {
    background-image:url('/staff/images/tux_background.png');
    background-position: 0px 100px;
    margin-top: 40px;
    font-family: Arial, Helvetica, Sans-Serif;
}

article {
    column-width: 500px; -webkit-column-width: 500px; -moz-column-width: 500px;
    -webkit-column-rule: 1px solid blue; -moz-column-rule: 1px solid blue; column-rule: 1px solid blue;
}

ul.padbottom > li, ol.padbottom > li {
    padding-bottom: 8px;
}

figure {
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
}

figure figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    width: 100%;
}

/* Credit:
 * cristianolopesdefreitas
 * http://www.cssscript.com/responsive-dropdown-nav-menu-pure-css/
 */

.nav-bar {
    position: fixed;
    top: 0px;
    background: green; width: 100%;
}

.nav-bar__label {
    color: white; display: block; text-align: left; width: inherit;
}

.nav-bar__label::after, .nav-bar__sub-label::after {
    content: "↓";
}

.nav-bar__label, .nav-bar__sub-label {
    cursor: pointer;
}

.nav-bar__list {
    background: green; list-style: none; margin: 0; padding: 0;
}

.nav-bar__list, [id^="toggle"] {
    display: none;
}

[id^="toggle"]:checked + .nav-bar__list {
    display: block;
}

.nav-bar__list-item {
    display: block;
}

.nav-bar__link, .nav-bar__sub-label {
    color: white; display: block; padding: 5px 10px; text-decoration: none; word-wrap: break-word;
}

.nav-bar__list-item .nav-bar__list-item .nav-bar__link,
.nav-bar__list-item .nav-bar__list-item .nav-bar__sub-label {
    padding: 10px 10px 10px 30px;
}

.nav-bar__link:hover, .nav-bar__link:active, .nav-bar__sub-label:hover {
    background: darkgreen;
}

/* Small screen settings */

@media all and (min-width : 440px) {
    .nav-bar > .nav-bar__label {
        display: none;
    }

    .nav-bar > .nav-bar__list {
        display: block;
    }

    .nav-bar > .nav-bar__list > .nav-bar__list-item {
        display: inline-block; position: relative;
    }

    .nav-bar__list-item .nav-bar__list {
        position: absolute;
    }

    .nav-bar__list-item .nav-bar__list-item .nav-bar__link,
    .nav-bar__list-item .nav-bar__list-item .nav-bar__sub-label {
        padding: 5px 20px;
    }
}
